In [32]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv('BankNote_Authentication.csv')

In [34]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [35]:
df.tail()

      variance  skewness  curtosis  entropy  class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [36]:
df.isna().sum()

# We can observe that none of the columns have missing values.

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [37]:
# Seperating the dataset into labels and features.

X = df.drop('class',axis=1)
# X denotes features.

y = df['class']
# y denotes label or independent variable.

In [38]:
X.shape, y.shape

((1372, 4), (1372,))

In [39]:
y.value_counts()

#We could notice that the value counts (i.e., the number of 0's and 1's) are not far away
#from each other. We can consider this as a balanced dataset.

0    762
1    610
Name: class, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.25,random_state=130)

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
classifier_model = DecisionTreeClassifier(random_state = 101)

In [52]:
classifier_model.fit(train_X,train_y)

DecisionTreeClassifier(random_state=101)

In [53]:
from sklearn.model_selection import cross_val_score

In [54]:
cross_val_score(model,test_X,test_y).mean()

0.9473998294970162

In [55]:
import pickle 

file = open('decision_tree_classifier.pkl','wb')

In [56]:
pickle.dump(classifier_model,file)

In [57]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.